@{
    ViewBag.Title = "Home Page";
}

    <input type="text" id="text"/>
    <input type="button" id="publishButton" value="發送queue"/>
    <input type="button" id="clearCache" value="清除cache" />
    <br />
    <br />
<span>MQ:</span>
<br />
<span id="Test"></span>

<script>
    $(function () {

    });

    function publishMsg(msg) {
        $("#Test").empty();
        $.get("@Url.Action("PublishMQ", "Home")", { message: msg }).then(() => reloadCache());
    }

    function reloadCache() {
        $.get("@Url.Action("GetCache", "Home")")
            .then(data => {
                if (data.length > 0) {
                    for (var i = 0; i < data.length; i++) {
                        append(data[i]);
                    }
                }
            });
    }

    function append(msg) {
        var span = document.createElement("span");
        span.innerHTML  = msg;
        var br = document.createElement("br");

        document.getElementById("Test").appendChild(br);
        document.getElementById("Test").appendChild(span);
        document.getElementById("Test").appendChild(br);
    }

    $("#publishButton").click(() => {
        publishMsg($("#text").val());
    });

    $("#clearCache").click(() => {
        $.get("@Url.Action("ClearCache", "Home")");
    });


</script>